.exercisesPage {
  min-height: 100vh;
  /* padding-top: 80px; Space for navbar */
  background-color: white;
}

:global(.btn-orange) {
  background-color: #FF5722 !important;
  color: white !important;
  border: none !important;
  transition: all 0.3s ease !important;
}

:global(.btn-orange:hover) {
  background-color: #f4511e !important;
  transform: translateY(-2px) !important;
}

:global(.hover-orange:hover) {
  background-color: #FF5722 !important;
  color: white !important;
} 

.badge{
  display: inline-block;
  padding: 3px 5px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  background-color: #FF5722; 
  transition: background-color 0.2s ease;
}
.Box_border{
  border-color: #FF5722;
}
